* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: #151515;
  color: #f0f0f0;
  line-height: 1.6;
  transition: background-color 0.3s, color 0.3s;
  overflow: auto;
  padding-top: 10px;
}

main {
  padding: 20px 0;
}

.container {
  max-width: 702px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #151515;
}

.search-container {
  margin-bottom: 20px;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
  border-radius: 15px;
  width: 100%;
  height: 53px;
  padding: 0;
  transition: box-shadow 0.3s ease;
}

.search-box:focus-within {
  box-shadow: 0 0 15px 5px rgba(34, 139, 34, 0.8);
}

.search-box input {
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 15px;
  background-color: #1f1f1f;
  color: white;
  caret-color: #32CD32;
  line-height: 35px;
}

.ghost-text {
  position: absolute;
  color: #32CD32;
  font-size: 1.2rem;
  pointer-events: none;
  white-space: nowrap;
  top: 50%;
  transform: translateY(-50%);
  line-height: 35px;
}

.result {
  text-align: left;
  margin-top: 40px;
  animation: fadeIn 1s ease-in-out;
}

.result .a {
  font-size: 1rem;
  line-height: 1.6;
  white-space: pre-line;
  color: #f0f0f0;
  font-family: Tahoma, -apple-system, "Helvetica Neue", Helvetica, Roboto, sans-serif;
}

.result .highlight {
  font-weight: bold;
  color: #2d6536;
  font-family: Tahoma, -apple-system, "Helvetica Neue", Helvetica, Roboto, sans-serif;
}

.word-count {
  color: #5C5F60;
  font-size: 1rem;
  margin-bottom: 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Tahoma, -apple-system, "Helvetica Neue", Helvetica, Roboto, sans-serif;
}

.word-count .highlight {
  font-weight: bold;
}

.error {
  color: #dc3545;
  font-size: 1.2rem;
  text-align: center;
}

.error-message {
  color: #dc3545;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.search-box.error {
  box-shadow: 0 0 15px 5px rgba(220, 53, 69, 0.8);
}

.search-box.error input {
  color: #dc3545;
  caret-color: #dc3545;
  background-color: #1f1f1f;
}

.pink {color: #de7c98;}
.gray {color: #8d8c91;}
.yellow {color: #e9d677;}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .result .a {
    font-size: 1rem;
  }
}

@media (min-width: 769px) {
  .container {
    max-width: 702px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #151515;
  }

  .result .a {
    font-size: 1rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.clickable-word {
    color: #e9d677;
    cursor: pointer;
    text-decoration: none; /* Varsayýlan olarak altý çizili olmasýn */
    font-family: Tahoma, -apple-system, "Helvetica Neue", Helvetica, Roboto, sans-serif;
}

    .clickable-word:active,
    .clickable-word:focus {
        text-decoration: underline; /* Týklanýnca altý çizili olacak */
    }


.selected-word-meanings {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #1f1f1f;
    border-radius: 10px;
    color: #f0f0f0;
    display: none;
    font-family: Tahoma, -apple-system, "Helvetica Neue", Helvetica, Roboto, sans-serif;
}

.tooltip {
    background-color: #000000;
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    display: none;
    z-index: 1000;
    color: white;
    font-size: 14px;
    width: auto;
    max-width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

    .tooltip.show {
        display: block;
    }

.clickable-word:active,
.clickable-word:focus {
    text-decoration: none; /* Tıklandığında altı çizili olmayacak */
    color: inherit; /* Renk değişmeyecek, varsayılan rengi koruyacak */
}
